<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <script src="http://code.jquery.com/jquery-1.10.1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="/static/lib/mousetrap.min.js"></script>

    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #container {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
      #map-canvas { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
      #cartographer-root {
        position: relative;
        top: 0px; left: 15%;
        width: 70%; height: 200px;
        background-color: white; opacity: 0.9;
        border: 1px solid gray;
        border-top: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 8px; padding-left: 0px; padding-right: 0px;
        font-family: sans-serif;
      }
      #cartographer {
        padding: 0px;
      }
      #drawer-handle {
        position: relative;
        top: 92%; left: 0;
        width: 100%; height: 10%;
        line-height:10px;
        border: none;
        border-top: 1px solid gray;
        padding: 0; margin-top: -10px;
        text-align: center;
      }
      #drawer-handle-text {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
      }
      #infothumb {
        display: block;
        float: right;
        margin: 2px;
      }
      #panoramio-control {
        border-style: solid;
        border-color: grey;
        padding: 0px;
        border-radius: 2px;
        background-clip: padding-box;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
        cursor: pointer;
        text-align: center;
        opacity: 0.6;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD089xhNV3EkR5nv-GXTN0Mug87RWpe_iA&sensor=true&libraries=panoramio,places">
    </script>
    <script type="text/javascript">
      var activeWindow = null;
      var activeMarker = null;
      var cartographerOpen = true;
      var markers = {};
      var disqus_shortname = 'cartographer217';

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: true,
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: [google.maps.MapTypeId.HYBRID,
                         google.maps.MapTypeId.ROADMAP,
                         google.maps.MapTypeId.SATELLITE,
                         google.maps.MapTypeId.TERRAIN]
          },

          streetViewControl: true,
          overviewMapControl: true
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var panoramioLayer = new google.maps.panoramio.PanoramioLayer();

        var panoramioToggle = document.createElement('div');
        panoramioToggle.style.padding = '5px';
        var controlUI = document.createElement('div');
        controlUI.id = 'panoramio-control';
        controlUI.title = 'Click to toggle the Panoramio layer';
        panoramioToggle.appendChild(controlUI);
        var panoramioCtlImg = document.createElement('img');
        panoramioCtlImg.src = "http://upload.wikimedia.org/wikipedia/commons/thumb/d/da/SF_From_Marin_Highlands3.jpg/80px-SF_From_Marin_Highlands3.jpg";
        panoramioCtlImg.style.marginBottom = '-3px';
        controlUI.appendChild(panoramioCtlImg);
        map.controls[google.maps.ControlPosition.RIGHT_TOP].push(panoramioToggle);

        var marker_image = 'http://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Wikipedia%27s_W.svg/17px-Wikipedia%27s_W.svg.png';
        //marker_image = '/static/wikipedia.svg';

        function updateMarkers() {
          var bounds = map.getBounds();
          var mapNE = bounds.getNorthEast();
          var mapSW = bounds.getSouthWest();

          var seenTitles = [];
          _.each(markers, function(marker, name) {
            if (bounds.contains(marker.getPosition()) && _.isString(name)) {
              seenTitles.push(name);
            } else {
              marker.setMap(null);
              if (marker.infowindow) {
                marker.infowindow.close();
              }
              delete markers[name];
            }
          });

          console.log("Bounds changed to: ");
          console.dir(mapNE.lat());
          console.dir(mapNE.lng());
          console.dir(mapSW.lat());
          console.dir(mapSW.lng());

          function plotMarkers(data) {
            _.each(data.points, function(point) {
              var myLatLng = new google.maps.LatLng(point.lat, point.lng);

                // if point.image:
                //en.wikipedia.org/w/api.php?action=query&titles=Image:Alaska Panhandle.png&prop=imageinfo&iiprop=url
// $filename = replace($name, ' ', '_');
// $digest = md5($filename);
// $folder = $digest[0] . '/' . $digest[0] . $digest[1] . '/' .  urlencode($filename);
// $url = 'http://upload.wikimedia.org/wikipedia/commons/' . $folder;

              var marker = new google.maps.Marker({position: myLatLng,
                                                   map: map,
                                                   icon: marker_image,
                                                   title: point.name});
              var infocontent = '<a href="https://en.wikipedia.org/wiki/' + point.name + '" target=_blank><h1>' + point.name + '</h1>';

              if (point.img) {
                point.img = point.img.replace(/ /g, "_");
                var imd5 = CryptoJS.MD5(point.img).toString();
                var idir = '//upload.wikimedia.org/wikipedia/commons/thumb/' + imd5[0] + '/' + imd5[0] + imd5[1];
                var iurl = idir + '/' + encodeURIComponent(point.img) + '/100px-' + encodeURIComponent(point.img);
                infocontent += '<img id="infothumb" src="' + iurl + '" />';
              }
              infocontent += '</a><p>' +point.abstract + '</p>';

              infocontent += '<div id="disqus_thread"></div>';

              var infowindow = new google.maps.InfoWindow({
                content: infocontent
              });
              marker.infowindow = infowindow;

              google.maps.event.addListener(marker, 'click', function() {
                if (activeWindow) {
                  activeWindow.close();
                }
                if (cartographerOpen) {
                  toggleDrawer();
                }

                window.history.pushState(marker.title, marker.title, "/?location="+marker.title);

                infowindow.open(map, marker);
                activeWindow = infowindow;
                activeMarker = marker;

                // disqus ignition
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();

              });
//              markers.push(marker);
              markers[point.name] = marker;
//              console.dir(point);
            });
//            console.dir(data)
            var prevMarker;
            _.each(markers, function(marker, name) {
              if (prevMarker) {
                marker.prev = prevMarker;
                prevMarker.next = marker;
              }
              prevMarker = marker;
            });
          }

          $.ajax('/getPoints',
                 {type: 'POST',
                  contentType : 'application/json',
                  data : JSON.stringify({NE: [mapNE.lng(), mapNE.lat()],
                                         SW: [mapSW.lng(), mapSW.lat()],
                                         seen: seenTitles, zoom: map.getZoom()}),
                  success: plotMarkers});
        }

        function toggleDrawer() {
          if (cartographerOpen) {
            $('#cartographer-root').animate({top: '-200px'});
            $('#drawer-handle-text').text("︾");
            $('#drawer-handle-text').text("︾");
            $('#drawer-handle').css('line-height', '20px');
            cartographerOpen = false;
          } else {
            $('#cartographer-root').animate({top: '0px'});
            $('#drawer-handle-text').text("︽");
            $('#drawer-handle').css('line-height', '10px');
            cartographerOpen = true;
          }
        }
        function activate(marker) {
          if (cartographerOpen) {
            toggleDrawer();
          }
          activeMarker = marker;
          activeWindow = activeMarker.infowindow;
          activeWindow.open(map, activeMarker);
        }
        function prevInfoWindow() {
          if (activeWindow) {
            activeWindow.close();
            if (activeMarker.prev) {
              activate(activeMarker.prev);
            }
          }
        }
        function nextInfoWindow() {
          if (activeWindow) {
            activeWindow.close();
            if (activeMarker.next) {
              activate(activeMarker.next);
            }
          }
        }

        Mousetrap.bind('esc', function() {
          if (activeWindow) {
            activeWindow.close();
            activeWindow = null;
          }
        });
        Mousetrap.bind(['`', '~'], toggleDrawer);
        Mousetrap.bind('j', nextInfoWindow);
        Mousetrap.bind('k', prevInfoWindow);
        $("#drawer-handle").click(toggleDrawer);
        $("#cartographer-root").draggable({axis: "y", containment: [0, -200, 0, 0]});

        google.maps.event.addListener(map, 'idle', updateMarkers);
        google.maps.event.addDomListener(panoramioToggle, 'click', function() {
          if (panoramioLayer.getMap()) {
            panoramioLayer.setMap(null);

            controlUI.style.opacity = 0.6;
            controlUI.style.borderColor = 'grey';

          } else {
            panoramioLayer.setMap(map);
            controlUI.style.opacity = 1;
            controlUI.style.borderColor = 'steelblue';
          }
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('searchbox');
        input.style.width = '400px';
        var searchBox = new google.maps.places.SearchBox(input);

        // Listen for the event fired when the user selects an item from the
        // pick list. Retrieve the matching places for that item.
        google.maps.event.addListener(searchBox, 'places_changed', function() {
          var places = searchBox.getPlaces();

          for (var i = 0, marker; marker = markers[i]; i++) {
            marker.setMap(null);
          }

          // For each place, get the icon, place name, and location.
          markers = [];
          var bounds = new google.maps.LatLngBounds();
          for (var i = 0, place; place = places[i]; i++) {
            var image = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            var marker = new google.maps.Marker({
              map: map,
              icon: image,
              title: place.name,
              position: place.geometry.location
            });

            markers.push(marker);

            bounds.extend(place.geometry.location);
          }

          map.fitBounds(bounds);
        });

        // Bias the SearchBox results towards places that are within the bounds of the
        // current map's viewport.
        google.maps.event.addListener(map, 'bounds_changed', function() {
          var bounds = map.getBounds();
          searchBox.setBounds(bounds);
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
    <div id="container">
      <div id="map-container">
        <div id="map-canvas"/>
      </div>

      <div id="cartographer-root" class="ui-draggable">
        <div id="cartographer">
          Cartographer - Social Mapping
          <input id="searchbox" type="text" placeholder="Search">

        </div>
        <div id="drawer-handle" >
          <span id="drawer-handle-text">
            ︽
          </span>
        </div>
      </div>
    </div>
  </body>
</html>
